{% block navbar %}
    <ul class="nav nav-sidebar">
        <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">
            <a href="{{ url('homepage') }}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'draws' %}active{% endif %}">
            <a href="{{ url('draws') }}">Draws</a>
        </li>
    </ul>
{% endblock %}
